OPENAI_API_KEY=
DATABASE_URL=postgresql+psycopg://real_estate_user:real_estate_password@localhost:5432/real_estate


SECRET_KEY=8f4c123456789abcdef123456789abcdef123456789abcdef12345
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60